.form-field {
  grid-column: 1 / 24;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

.form-field > .form-field--vertical {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.form-field--span-1 {
  grid-column: span 1 / auto;
}
.form-field--span-2 {
  grid-column: span 2 / auto;
}
.form-field--span-3 {
  grid-column: span 3 / auto;
}
.form-field--span-4 {
  grid-column: span 4 / auto;
}
.form-field--span-5 {
  grid-column: span 5 / auto;
}
.form-field--span-6 {
  grid-column: span 6 / auto;
}
.form-field--span-7 {
  grid-column: span 7 / auto;
}
.form-field--span-8 {
  grid-column: span 8 / auto;
}
.form-field--span-9 {
  grid-column: span 9 / auto;
}
.form-field--span-10 {
  grid-column: span 10 / auto;
}
.form-field--span-1 {
  grid-column: span 1 / auto;
}
.form-field--span-11 {
  grid-column: span 11 / auto;
}
.form-field--span-12 {
  grid-column: span 12 / auto;
}
.form-field--span-13 {
  grid-column: span 13 / auto;
}
.form-field--span-14 {
  grid-column: span 14 / auto;
}
.form-field--span-15 {
  grid-column: span 15 / auto;
}
.form-field--span-16 {
  grid-column: span 16 / auto;
}
.form-field--span-17 {
  grid-column: span 17 / auto;
}
.form-field--span-18 {
  grid-column: span 18 / auto;
}
.form-field--span-19 {
  grid-column: span 19 / auto;
}
.form-field--span-20 {
  grid-column: span 20 / auto;
}
.form-field--span-21 {
  grid-column: span 21 / auto;
}
.form-field--span-22 {
  grid-column: span 22 / auto;
}
.form-field--span-23 {
  grid-column: span 23 / auto;
}
.form-field--span-24 {
  grid-column: span 24 / auto;
}
